.media-icon {
    color: white; 
    margin: 0 3px;
}

.perfil-photo {
    margin-right: 30px;
    float: right;
}

.social-media-button:hover .media-icon{
    color: #444;
}

.flag-icon {
    background-color: transparent;
    border: 0;
}

.title {
    color: whitesmoke;
}